<!DOCTYPE html>
<html  lang="ro">
    <head>
        
        <meta name="description"
        content="Papetaria Papirus ofera rechizite, accesorii pentru birou, produse din hartie. Livrare la domiciliu oriunde in Romania!">
        <meta name="keywords"
        content="papetarie, papetaria papirus, rechizite, caiet, caiete, hartie, consumabile imprimanta, instrumente de scris, pix, pixuri, creion, creioane, acuarele, transport la domiciliu, bucuresti, capsatoare">
        <title> Papetaria Papirus </title>
        <link rel="stylesheet" type="text/css" href="/resurse/css/eroare.css">
        
        <%- include("../fragmente/head.ejs");  %> 


    </head>

    <body>
        
    <%- include("../fragmente/header.ejs");  %> 

    <main>
        <div id="err-coloane">
			<div id="err-imag">
				<img src="<%- locals.imagine %>" />
			</div>
			<section>
				<h2><%- locals.titlu %></h2>
				<p><%- locals.text %></p>
			</section>
		</div>
    </main>
    
    <%- include("../fragmente/footer.ejs");  %> 


    </body>
</html>