<!DOCTYPE html>
<html lang="ro">
<head>
    <meta name="description" content="Papetaria Papirus ofera rechizite, accesorii pentru birou, produse din hartie. Livrare la domiciliu oriunde in Romania!">
    <meta name="keywords" content="papetarie, papetaria papirus, rechizite, caiet, caiete, hartie, consumabile imprimanta, instrumente de scris, pix, pixuri, creion, creioane, acuarele, transport la domiciliu, bucuresti, capsatoare">
    <link rel="stylesheet" href="/resurse/css/produse.css" type="text/css" />
    <title>Papetaria Papirus - produse</title>
    <% include("../fragmente/head") %>
    <link href="/resurse/css/produs.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <% include("../fragmente/header") %>
    <main>
        <section>
            <h2>Pagină produs</h2>
            <article id="art-produs">
                <h3><span class="nume"><%= prod.nume %></span></h3>
                <p>Pret: <span class="pret"><%= prod.pret %> </span></p>
                <p>Descriere: <span class="descriere"><%= prod.descriere %> </span></p>
                <p>Numar bucati: <span class="descriere"><%= prod.nr_bucati %> </span></p>
                <p>Firma: <span class="descriere"><%= prod.firma %> </span></p>
                <p>Culoare: <span class="descriere"><%= prod.culoare %> </span></p>
                <p>Reciclabil: <span class="descriere"><%= prod.reciclabil %> </span></p>
                <p>Data adaugare: <span class="categorie"><%= prod.data_adaugare %> </span></p>
                <figure class="imag-produs">
                    <img src="/resurse/imagini/produse/<%= prod.imagine %>" alt="[imagine <%= prod.nume %>]" />
                </figure>
            </article>

            <h3>Seturi care includ acest produs</h3>
            <% seturi.forEach(set => { %>
                <div class="set">
                    <h4><%= set.nume_set %></h4>
                    <p><%= set.descriere_set %></p>
                    <ul>
                        <% set.produse.forEach((produs, index) => { %>
                            <li>
                                <a href="/produs/<%= set.produs_ids[index] %>"><%= produs %></a> - <%= set.preturi[index] %> RON
                            </li>
                        <% }) %>
                    </ul>
                    <p>Preț total: <%= set.pret_total.toFixed(2) %> RON</p>
                    <p>Preț final cu reducere: <%= set.pret_final.toFixed(2) %> RON</p>
                </div>
            <% }) %>
        </section>
    </main>

    <%- include("../fragmente/footer") %>
</body>
</html>
